<div class="tags_sidebar <%= @displaying %>">
  <div class="sidebar_title">All tags</div>

  <div class='sidebar_title'>
    sort by <span class="sorter" id="alpha">alpha</span> | <span class="sorter bolder" id="freq">freq</span>

  </div>
  <div id="all-the-tags">

  </div>
</div>
