<div class="main tag_rename">
  <p class="help">
  <%= @message %>
</p>

 <%= form_with url: specials_bulktagrename_action_path do |form|     %>

  <div>
    <label for="old_name">
      <span>Rename tag:</span>
    </label>

    <input type="text" id="old_name" name="old_name" required>

  </div>
  <div>

    <label for="new_name">
      <span>New name:</span>
    </label>

    <input type="text" id="new_name" name="new_name" required>

  </div>
  <div>
    <input type=submit name="rename" value="rename">
  </div>

<% end %>

</div>