body {
  font-family: Verdana, Arial, sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left center;
}

.banner {
  height: 50px;
  border-top: 4px solid #fab057;
  border-bottom: 4px solid #fab057;
  padding-bottom: 2px;
  background-color: #f37108;
  background-image: url('./bookmarklogo.jpg');
  background-repeat: no-repeat;
  clear: both;
}

div.banner_text {
  padding-left: 122px;
  padding-top: 25px;
  color: #ffffff;
}

div.banner_right {
  padding-top: 25px;
  float: right;
  padding-right: 0.5pc;
}

a.header:link {
  color: #ffffff;
  text-decoration: none;
  background-image: url('.dot.jpg');
  padding-left: 10px;
}

a.header:active {
  color: #ffffff;
  text-decoration: none;
  background-image: url('.dot.jpg');
  padding-left: 10px;
}

a.header:visited {
  color: #ffffff;
  text-decoration: none;
  background-image: url('.dot.jpg');
  padding-left: 10px;
}

a.header:hover {
  text-decoration: none;
  background-image: url('.dot.jpg');
  color: #fab057;
  padding-left: 10px;
}

.notice {
  margin-left: 21px;
}

.prev_next .edge {
  margin-left: 19px;
}

/* TAGS SIDEBAR     */

div.tags_sidebar {
  width: 14%;
  height: 100%;
  background-color: #95b058;
  margin-left: 0.5em;
  padding-top: 40px;
  padding-left: 1em;
  padding-right: 10px;
  padding-bottom: 10px;
  float: right;
  font-size: 80%;
}

.sidebar_title {
  font-size: 120%;
  margin-bottom: 0.5pc;
}

.bolder {
  font-weight: bolder;
}

/* MAIN  */

div.main {
  margin-left: 10px;
  margin-right: 5px;
  padding-bottom: 0.5pc;
  padding-left: 0.5em;
  padding-top: 0.5ex;
}


.help {
  border-bottom: 2px solid #fab057;
  color: #617d24;
  font-weight: bold;
  padding-bottom: 2px;
  background-image: url('.greendot.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 10px;
}

/* TABLE HEADER  */

.header_name {
  text-align: left;
}

a.header_links:link {
  color: #df6807;
}

a.header_links:active {
  color: #df6807;
}

a.header_links:visited {
  color: #df6807;
}

a.header_links:hover {
  color: #fab057;
}


/* EACH BOOKMARK  */

td.bookmark_name {
  width: 59%;
}

td.posting_date {
  width: 13%;
}

td.last_visited {
  width: 13%;
}

td.total_visits {
  width: 13%;
  text-align: right;
}

.extended_desc {
  margin-top: 10px;
}

.bottom_line {
  border-bottom: 1px solid #94b057;
}

.rtside {
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-bottom: 1px solid #94b057;
  text-align: right;
}

th {
  border-bottom: 1px solid #fab057;
  text-align: left;
}

/* GENERAL LINKS */

a.fat_link:link {
  color: #4a6043;
  text-decoration: none;
  display: inline-block;
  background-image: url('.dot.jpg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
}

a.fat_link:active {
  color: #4a6043;
  text-decoration: none;
  display: inline-block;
  background-image: url('.dot.jpg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
}

a.fat_link:visited {
  color: #4a6043;
  text-decoration: none;
  display: inline-block;
  background-image: url('.dot.jpg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
}

a.fat_link:hover {
  text-decoration: none;
  display: inline-block;
  color: #fab057;
  background-image: url('.dot.jpg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
}

a.rt:link {
  color: #4a6043;
  text-decoration: none;
  padding-right: 3px;
}

a.rt:active {
  color: #c65c06;
  text-decoration: none;
  padding-right: 3px;
}

a.rt:visited {
  color: #c65c06;
  text-decoration: none;
  padding-right: 3px;
}

a.rt:hover {
  text-decoration: none;
  color: #fab057;
  padding-right: 3px;
}


/*  EDITING and fix-post PAGES */

.edit_site fieldset {
  border: 1px solid #94b057;
  margin: 20px 5px 5px 5px;
  padding: 5px 2px 24px 5px;
}

.edit_site input {
  height: 23px;
  font-size: 14px;
  margin-bottom: 5px;
}

.save_td {
  padding-left: 20px;
}

.delete_td {
  padding-left: 33px;
}

.delete_button_span {
  padding-left: 39px;
}

.word_or {
  padding-left: 20px;
}

.save_button, .delete_button {
  width: 87px;
}

.delete_button {
  background-color: red;
  height: 23px;
  margin-bottom: 5px;
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 45px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.wider_column {
  display: flex;
  flex-direction: column;
  flex: 8;
}

/*  LOGIN PAGE  */

.login-page {
  width: 100%;
  min-height: 100vh;
  font-family: Verdana, Arial, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 15px;
  background: #f2f2f2;
  font-weight: 400;
}

.login-page input {
  outline: none;
  border: none;
  overflow: visible;
  margin: 0;
}

.login-page button {
  outline: none;
  border: none;
  background: transparent;
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login100-form-title {
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 26px;
}

.email-label, .password-label {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.33;
  text-align: justify;
}


.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: linear-gradient(to left, #f37108, #95b058);
}

.focus-input100::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.remember {
  font-size: 18px;
  color: #666666;
  line-height: 1.5;
}

.remember_box {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.wrap-login-link {
  margin-bottom: 37px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: linear-gradient(to left, #f37108, #95b058, #f37108, #95b058);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

.text-center {
  text-align: center;
}

.p-t-115 {
  padding-top: 115px;
}

/* POST A SITE PAGE    */

.post-site label {
  color: #617d24;
  font-weight: bold;
  padding: 2px;
}

label.firstCol {
    display: block;
}

.post-site fieldset {
  border: 1px solid #94b057;
  margin: 20px 5px 5px 5px;
  padding: 5px 2px 5px 5px;
}

fieldset.main {
  width: 800px;
}

fieldset.chg {
    width: 904px;
}

legend {
  color: #617d24;
  font-weight: bold;
}

.post_form {
  width: 560px;
}

.post-site input {
  height: 23px;
  font-size: 14px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

label > span {
  float: left;
  width: 100px;
}

.checkboxes {
  margin-top: 30px;
}

.private {
  margin-top: 5px;
}

.explanation, .checkbox {
  display: block;
  margin-left: 100px;
}

.post_box {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

#searchTags {
    font-weight: bold
}

.post-site input.save_new_button {
  margin-left: 11%;
}

/* BULK TAG RENAME  */

.tag_rename label {
  color: #617d24;
  font-weight: bold;
  padding: 2px;
}

.tag_rename input[type="text"] {
  margin-bottom: 15px;
  background-color: #f1f1f1;
}

.tag_rename label > span {
  float: left;
  width: 134px;
}

.tag_rename input[type="submit"] {
  margin-left: 139px;
  margin-top: 10px;
}